(
    MPWAbstractInterpretedMethod,
    MPWAssignmentExpression,
    MPWAutocompletionTests,
    MPWBidirectionalDataflowConstraintExpression,
    MPWBlockContext,
    MPWBlockExpression,
    MPWBlockFilterScheme,
    MPWBundleScheme,
    MPWCascadeExpression,
    MPWClassDefinition,
    MPWClassMethodStore,
    MPWClassMirror,
    MPWClassMirrorSubclassForTesting,
    MPWClassScheme,
    MPWComplexAssignment,
    MPWConnectToDefault,
    MPWConnector,
    MPWCopyOnWriteScheme,
    MPWDataflowConstraintExpression,
    MPWDefaultsScheme,
    MPWDirectoryBinding,
    MPWEnvScheme,
    MPWEvaluator,
    MPWExpression,
    MPWFallbackBridgeReader,
    MPWFastMessage,
    MPWFileBinding,
    MPWFileSchemeResolver,
    MPWFileWatcher,
    MPWFilterDefinition,
    MPWFrameworkScheme,
    MPWGetAccessor,
    MPWIdentifier,
    MPWIdentifierExpression,
    MPWInstanceVariable,
    MPWInterval,
    MPWIntervalEnumerator,
    MPWLiteralArrayExpression,
    MPWLiteralDictionaryExpression,
    MPWLiteralExpression,
    MPWMessage,
    MPWMessageExpression,
    MPWMessagePortDescriptor,
    MPWMethodCallBack,
    MPWMethodHeader,
    MPWMethodMirror,
    MPWMethodScheme,
    MPWMethodStore,
    MPWMethodType,
    MPWObjCGenerator,
    MPWObjectMirror,
    MPWPropertyPath,
    MPWPropertyPathComponent,
    MPWPropertyPathDefinition,
    MPWPropertyPathGetter,
    MPWPropertyPathSetter,
    MPWRecursiveIdentifier,
    MPWRefScheme,
    MPWRelScheme,
    MPWResource,
    MPWResourceScheme,
    MPWScheme,
    MPWSchemeScheme,
    MPWScriptedMethod,
    MPWScriptingBridgeBinding,
    MPWScriptingBridgeScheme,
    MPWSelfContainedBinding,
    MPWSelfContainedBindingsScheme,
    MPWSetAccessor,
    MPWStCompiler,
    MPWStName,
    MPWStScanner,
    MPWStTests,
    MPWStatementList,
    MPWStringLiteral,
    MPWTreeNode,
    MPWTreeNodeScheme,
    MPWURLBinding,
    MPWURLSchemeResolver,
    MPWVARBinding,
    MPWVarScheme,
    SayYES
)