(
	"MPWAbstractInterpretedMethod",
	"MPWAssignmentExpression",
	"MPWAutocompletionTests",
	"MPWBidirectionalDataflowConstraintExpression",
	MPWBlockExpression,
	MPWBlockFilterScheme,
	MPWBundleScheme,
	MPWCascadeExpression,
	STClassDefinition,
	MPWClassMethodStore,
	MPWClassMirror,
	"MPWClassMirrorSubclassForTesting",
	MPWClassScheme,
	STConnectionDefiner,
	MPWConnector,
	"MPWDataflowConstraintExpression",
	MPWDefaultsScheme,
	MPWDirectoryBinding,
	MPWEvaluator,
	MPWExpression,
	"MPWFallbackBridgeReader",
	MPWFastMessage,
	MPWFileBinding,
	MPWFileWatcher,
	MPWFilterDefinition,
	MPWFrameworkScheme,
	MPWGetAccessor,
	STIdentifier,
	"STIdentifierExpression",
	MPWInstanceVariable,
	MPWInterval,
	"MPWIntervalEnumerator",
	"MPWLiteralArrayExpression",
	"MPWLiteralDictionaryExpression",
	MPWLiteralExpression,
	MPWMessage,
	MPWMessageExpression,
	"STMessagePortDescriptor",
	MPWMethodCallBack,
	MPWMethodHeader,
	MPWMethodMirror,
	MPWMethodScheme,
	MPWMethodStore,
	MPWMethodType,
	MPWObjCGenerator,
	MPWObjectMirror,
	MPWPropertyPath,
	"MPWPropertyPathComponent",
	"STPropertyPathDefinition",
	"MPWPropertyPathGetter",
	"MPWRecursiveIdentifier",
	MPWRefScheme,
	MPWResource,
	MPWResourceScheme,
	MPWScheme,
	MPWSchemeScheme,
	MPWScriptedMethod,
	"MPWScriptingBridgeBinding",
	"MPWScriptingBridgeScheme",
	"MPWSelfContainedBinding",
	"MPWSelfContainedBindingsScheme",
	MPWSetAccessor,
	STCompiler,
	MPWStName,
	STScanner,
	MPWStTests,
	MPWStatementList,
	MPWStringLiteral,
	MPWTreeNode,
	MPWTreeNodeScheme,
	MPWURLBinding,
	MPWURLSchemeResolver,
	MPWVARBinding,
	MPWVarScheme,
	"UIViewDictionaryInitializationTests",
	SayYES,
	MPWSTTouchUITests,
	"STTargetActionConnector",
	MPWColorStore,
	MPWFontStore,
)