<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MethodDictDocument</key>
	<dict>
		<key>&lt;int&gt;theAnswer</key>
		<string>42</string>
		<key>&lt;void&gt;setUIForMethodHeader:header body:body</key>
		<string>    self methodHeader setStringValue: header.
    self methodBody setString: body.

</string>
	</dict>
</dict>
</plist>
