@charset "utf-8";

html,
body {
	margin: 20;
	padding: 20;
}

tr:nth-child(even) {background: #CCC}
body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #111111;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
}
.id {
    display:none;
}
.hidden {
	display: none;
}
thead {
    display: none;
}
table {
	font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
} 
