<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MPWTalk (Framework).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>MPWTalk Linux Cocotron.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>MPWTalk-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>MethodEditor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>MethodServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>SchemeFS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>SimpleMethodEditor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>iMethodServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F2E6EF9142EF26E00B5C827</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F4CB5191253D53C00B30C99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F5E504B09B4B754000298D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F7A3F9614485DDF00521C07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F7B75AE14629431002F38D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F7E059F144B3E22008F349D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F7E05B3144B3E7D008F349D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE08F01137808B8003B18B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
