// Configuration file for LLVM settings, generated as a build phase.
// jit interpreter nativecodegen
LLVM_CFLAGS = -I/usr/local/include  -D_DEBUG -D_GNU_SOURCE -D__STDC_CONSTANT_MACROS -D__STDC_FORMAT_MACROS -D__STDC_LIMIT_MACROS -O3  -fno-common
LLVM_LDFLAGS = -L/usr/local/lib  -lpthread -lm  -lLLVMBitWriter -lLLVMX86CodeGen -lLLVMX86Desc -lLLVMX86AsmPrinter -lLLVMX86Utils -lLLVMCodeGen -lLLVMAsmPrinter -lLLVMMC -lLLVMInstCombine -lLLVMMCParser -lLLVMSelectionDAG -lLLVMSupport -lLLVMCore -lLLVMDebugInfoCodeView -lLLVMBitReader -lLLVMAsmParser -lLLVMAnalysis -lLLVMTransformUtils -lLLVMDemangle -lLLVMMCDisassembler  -lLLVMScalarOpts -lLLVMTarget  -lLLVMX86Info -lLLVMDebugInfoDWARF     -lLLVMDebugInfoMSF -lLLVMObject   -lLLVMProfileData   -lLLVMDebugInfoPDB  -lc++ -ltermcap
